body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body > * {
    padding-inline: 13rem;
}
nav {
    padding-block: 20px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

nav .links {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
nav .links a{
    text-decoration: none;
    color: #d2d2d4;
    font-size: 18px;
}

footer{
    display: flex;
    color: #d2d2d2;
    background: #1F2937;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    font-size: 15px;
}

.motd {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-block: 6rem; 
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
}
.motd-title{
    font-weight: 900;
    font-size: 45px;
}
.motd-subtext {
    margin-block: 15px;
    font-size: 18px;
    color: #d2d2d2;
}
.motd img {
    max-height: 250px;
}
.blue-button {
    background: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem 1.6rem 0.4rem;
}

.white-btn-border {
    border: 2px solid white;
}

.blue-button:hover{
    background: #2f72dc;
    cursor: pointer;
}
.info-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}
.info-boxes h1 {
    margin-block: 2.5rem;
}
.boxes {
    display: flex;
    gap: 1rem;
}
.boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.boxes img {
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 15px;
    width: 10rem;
    height: 10rem;
}
.boxes p {
    color: #727171;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: end;
    background: #E5E7EB;
    padding: 4rem 17.87rem 4rem;
}
.testimonial .quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
}

.testimonial .author {
    font-weight: bold;
}

.call-to-action {
    color: white;
    margin-block: 6rem;
    background-color: #3882F6;
    border-radius: 0.5rem;
    padding: 1rem 6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.title {
    color:#F9FAF8;
    font-size: large;
    font-weight: bolder;
}
